body {
   /* background: url(../img/bg/Bg.jpg) center center no-repeat; */
   background: rgba(34, 3, 66, 0.95);
   backdrop-filter: blur(110.3058px);
   
}
h1,h2,h3,h5,h6,p {
   margin: 0;
   padding: 0;
}

.header {
   margin-bottom: 103px;
}

.logotype {
   /* display: flex; */
 font-family: 'Orbitron';
 color: #A69DB2;

}

.logo {
   display: flex;
   align-items: center;
   font-family: 'Orbitron';
   color: #A69DB2;
   width: 35px;
   height: 26px;
   text-decoration: none;
}

.logo-header {
   display: inline-block;
}
.nft-elem {
   color: #fff;
}

.logo-text {
   padding-left: 14px;
}

.logonft {
   position: absolute;
   width: 87px;
   height: 26px;
}

.nft-text {
   /* display: inline-block; */
   color: #fff;
}

.nav {
   margin-bottom: 105px;
}

.menu {
   font-family: 'Orbitron';
   font-weight: 700;
   font-size: 20px;
   background-color: transparent;
   color: rgba(255, 255, 255, 0.6);
   border: none;
}
.menu:hover {
   cursor: pointer;
}

.shopping, .account {
   background-color: transparent;
   border: none;
}

.account:hover {
   cursor: pointer;
}
.shopping:hover {
   cursor: pointer;
}

.main {
   margin-top: 105px;
}

.main-header__title {
   margin-bottom: 21px;
   font-family: 'League Spartan';
   font-weight: 500;
   font-size: 66px;
   color: #FFFFFF;
}

.gradient {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #FF56F6, #43A5E3);
}

.main-header__text {
   font-family: 'Rajdhani';
   font-weight: 400;
   font-size: 26px;
   color: #fff;
   margin-bottom: 43px;
}

.main-header__btn {
   margin-bottom: 68px;
}

.explore {
   color: transparent;
   font-family: 'Orbitron';
   font-weight: 700;
   font-size: 20px;
   border: none;
   background-color: transparent;
   -webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #FF56F6, #43A5E3);
   cursor: pointer;
   transition: all 1s ease;
}

.explore:hover {
   background-image: linear-gradient(to right, #43A5E3,#FF56F6);
   color: #fff;
}

.create {
   color: transparent;
   font-family: 'Orbitron';
   font-weight: 700;
   font-size: 20px;
   border: none;
   background-color: transparent;
   -webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #43A5E3, #FF56F6);
   cursor: pointer;
}

.main-header__information {
   display: flex;
}


.num {
   font-family: 'Aldrich';
   font-weight: 400;
   font-size: 40px;
   color: #fff;
}

.name {
   font-family: 'Alethia Next';
   font-weight: 400;
   font-size: 18px;
   color: #fff;
}

.main-header__info {
   margin-right: 55px;
}

/* .main-header__info::after {
   content: '';
   display: block;
   height: 63px;
   background: url(../img/header/Line.png) no-repeat;
} */

/* .hero {
   background: url(../img/header/main-img.svg) no-repeat center center;
   width: 301px;
   height: 377px;
   z-index: 0;
   background: linear-gradient(-45deg, transparent 15px, 0);
} */

.hero-account__bg {
   background: url(../img/header/main-img.svg) no-repeat center center;
   width: 301px;
   height: 377px;
}

/* .wrapper-timer::before {
   content: '';
   position: fixed;
   background: rgba(255, 255, 255, 0.3);
   filter: blur(4px);
   
} */

.wrapper-timer {
   padding-top: 27px;
   width: 336px;
   height: 182px;
   position: relative;
   box-shadow: 1px 1px 4px rgb(14 14 14 / 30%);
   border: 5px solid rgba(255, 255, 255, 0.15);
   border-radius: 10px;
   background: inherit;
}

.wrapper-timer::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: inherit;
   filter: blur(5px);
}

.hero-account__title {
   padding: 10px 5px 10px 0;
   font-family: 'Rajdhani';
   font-weight: 700;
   color: #fff;
   font-size: 10px;
}

.hero-account__img {
   display: flex;
   align-items: center;
}

.persone {
   display: inline-block;
   font-family: 'Rajdhani';
   font-weight: 600;
   color: #fff;
}

.persone {
   padding: 15px 5px 15px 5px;
}

.hero-account__text {
   padding: 15px 0 15px 0px;
   font-family: 'Rajdhani';
   font-weight: 600;
   font-size: 11px;
   color: #fff;
}

.hero-account__price {
   display: flex;
   font-family: 'Rajdhani';
   font-weight: 400;
   font-size: 11px;
   color: #C5C2CF;
}

.icon {
   width: 13px;
   height: 13px;
}

.timer {
   font-family: 'Rajdhani';
   font-weight: 600;
   color: #fff;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
}

.hero-account__auction {
   padding: 18px 5px 10px 0;
   font-family: 'Rajdhani';
   font-weight: 400;
   color: #EDEAEF;
   font-size: 10px;
}

.hero-account__countdown {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hero-account__time {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 17px;
}

.units {
   font-size: 11px;
}

.hero-account__btn {
   margin-top: 40px;
}

.btn-bid {
   cursor: pointer;
   font-size: 16px;
   font-family: 'Rajdhani';
   font-weight: 600;
   color: #fff;
   padding: 8px 45px 8px 10px;
   outline : none;
   border: none;
   position: relative;
   z-index: 2;
   border-radius: 4px;
   background-color: transparent;
   background-image: linear-gradient(to right, #FF56F6, #43A5E3), linear-gradient(to right, #FF56F6, #43A5E3);
   width: 120px;
   height: 37px;
   /* background-size: 100% 2px; */
   background-position: 0 100%, 0 0;
   background-repeat: no-repeat;
   background-clip: border-box;
   /* border-image: linear-gradient(to left,  #FF56F6, #43A5E3); */
}

/* .btn-bid:hover {
   background: #e343be;
   box-shadow: rgba(73, 5, 141, 0.95);
} */

/* .btn-bid::after {
   content: '';
   width: 25px;
   height: 25px;
   position: absolute;
   border-left: 2px solid #ff56f6;
   border-top: 2px solid #ff56f6;
   top: 0;
   left: 0;
   border-radius: 5px 0 0 0;
   transition: 0.5s;
} */

/* .btn-bid::before {
   content: "";
   position: absolute;
   top: -2px;
   bottom: -2px;
   left: -2px;
   right: -2px;
   background: linear-gradient(to right, #FF56F6, #43A5E3);
   border-radius: 4px;
   z-index: -1;
} */


.partners {
   margin-bottom: 217px;
}

.partners-block {
   align-items: center;
}

.prtn-img {
   height: 40px;
}

.top-nft {
   background: #fff;
}
